
@{
    ViewBag.Title = "AgregaTarea";
    List<Prueba.WEB.Models.Colaborador> colaboradores = ViewBag.Colaboradores;
    List<Prueba.WEB.Models.Estado> estados = ViewBag.Estados;
    List<Prueba.WEB.Models.Prioridad> prioridades = ViewBag.Prioridades;
}

<div class="card">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label for="descripcionInput">Descripción</label>
                <textarea style="width:100%!important" class="form-control" id="descripcionInput"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-12">

            <div class="form-group">
                <label for="colaborador">Colaborador</label>
                <select class="form-control" id="colaborador">
                    <option>Seleccione</option>
                    @foreach (var col in colaboradores)
                    {
                        <option data-id="@col.id_colaborador">@col.nombre @col.apellido</option>

                    }
                </select>
            </div>
        </div>


        <div class="col-md-4 col-sm-12">

            <div class="form-group">
                <label for="estado">Estado</label>
                <select class="form-control" id="estado">
                    <option>Seleccione</option>
                    @foreach (var estado in estados)
                    {
                        <option data-id="@estado.codigo_estado">@estado.codigo_estado</option>

                    }
                </select>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">

            <div class="form-group">
                <label for="prioridad">Prioridad</label>
                <select class="form-control" id="prioridad">
                    <option>Seleccione</option>
                    @foreach (var priori in prioridades)
                    {
                        <option data-id="@priori.codigo_prioridad">@priori.codigo_prioridad</option>

                    }
                </select>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4 col-xs-12 ">
            <label for="start_date">Fecha Inicial</label>
            <div class="input-group datePicker pull-left">
                <input autocomplete="off" type="text" id="start_date" class="input_date" style="width:100%" placeholder="Periodo Inicial" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>


        <div class="col-md-4 col-xs-12">
            <label for="start_date">Fecha Final</label>
            <div class="input-group datePicker pull-left">
                <input autocomplete="off" type="text" id="end_date" class="input_date" style="width:100%" placeholder="Periodo Final" />
                <span class="input-group-addon" style="margin-top:4%">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>


    </div>


    <div class="row">

        <div class="col-md-8 col-sm-12">
            <div class="form-group">
                <label for="notasInput">Descripción</label>
                <textarea style="width:100%!important" class="form-control" id="notasInput"></textarea>
            </div>
        </div>
    </div>


    <div class="row text-center">
        <span class="btn" id="regresar" style="background-color:#00bfdf; color:white"><a href="@Url.Action("Index","Home")">Regresar</a></span>
        <span class="btn" id="agregar_tarea" style="background-color:#70bf4b; color:white">Agregar Tarea</span>

    </div>

</div><!--FIN ROW-->



<style>
    a {
        color: white;
    }

    .card {
        border: 0.1px solid;
    }

    .row {
        margin-left: 1% !important;
        margin-right: 1% !important;
        margin-top: 1% !important;
    }

    input, select, textarea {
        max-width: 100% !important;
    }
</style>


<script>
    $(document).ready(function () {
        var date_picker = $('.datePicker').datetimepicker({
            useCurrent: false,
            format: 'YYYY/MM/DD',
            allowInputToggle: true,
            widgetPositioning: {
                horizontal: 'left',
                vertical: 'bottom',
            },
        });

        $("#agregar_tarea").on("click", function () {
            var descripcion = $("#descripcionInput").val();
            var id_colaborador = $("#colaborador").children("option:selected").data("id");
            var codigo_estado = $("#estado").val();
            var codigo_prioridad = $("#prioridad").val();
            var fecha_inicio = $("#start_date").val();
            var fecha_fin = $("#end_date").val();
            var nota = $("#notasInput").val();

            console.log(id_colaborador);

            var tarea = {
                id_colaborador: id_colaborador,
                codigo_estado: codigo_estado,
                descripcion: descripcion,
                codigo_prioridad: codigo_prioridad,
                fecha_inicio: fecha_inicio,
                fecha_fin: fecha_fin,
                nota: nota
            };


            $.ajax({
                type: "POST",
                url: "@Url.Action("InsertarTarea", "Home")",
                data: {
                    tarea
                },

                success: function (ajaxContext) {
                    if (ajaxContext.Success == true) {
                        $('input[type="text"]').val('');
                        $('select').val($('select > option:first').val());
                        $('textarea').val('');
                        toastr.success(ajaxContext.Message);
                        //$('#_preguntas').empty();
                    } else {
                        toastr.error(ajaxContext.Message);
                    }
                },

                error: function (ajaxContext) {
                    toastr.error(ajaxContext.Message);
                }
            });

        });


    });
</script>